@model IList<Sozilan.UI.Models.Service.EntryOfTitleOfUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Title Index</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover" style="border-right:2px solid #ffffff;">
            <tr>
                <th>EntryID</th>
                <th>TitleID</th>
                <th>UserID</th>
                <th>EntryContent</th>
                <th>TitleContent</th>
                <th>NameOfUser</th>
                <th>TimeOfComment</th> 
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.EntryID</td>
                    <td>@item.TitleID</td>
                    <td>@item.UserID</td>
                    <td>@item.EntryContent</td>
                    <td>@item.TitleContent</td>
                    <td>@item.NameOfUser</td>
                    <td>@item.TimeOfComment</td>
                </tr>
            }
        </table>
    </div>
</div>
@*<ul class="visible-md-block">

    <h2>@Html.DisplayFor(model => item.Title.Content)</h2>

    <li class="list-unstyled">
        <h5>@Html.DisplayFor(model => item.Content) </h5>
    </li>
    <h5 class="text-right"> @Html.DisplayFor(model => item.EntryDate)  -- @Html.DisplayFor(model => item.User.UserName)</h5>
</ul>*@
