@model IList<Sozilan.Data.Model.Entry>

@{
    ViewBag.Title = "Kullanıcı Giri";
    Layout = "~/Areas/Users/Views/Shared/_UserLayout.cshtml";
}
<div class="row" style="margin-left:0!important;margin-right:0!important">
     
    @Html.Partial("SolFramePartial")

    <div class="col-md-9">
        <ul class="list-unstyled">
            @foreach (var item in Model)
            {
                <li class="list-unstyled">
                    <h3><a href="~/Users/Home/Entry/@item.ID"> @Html.DisplayFor(model => item.Title.Content)</a></h3>
                </li>
                <li class="list-unstyled">
                    <h5>@Html.DisplayFor(model => item.Content)</h5>
                </li>
                <li class="list-unstyled">
                    <span class="text-left">
                        @Html.Partial("IcerikUpDown", item)
                    </span>
                    @{
                        if (HttpContext.Current.User.Identity.Name.ToString() == item.User.UserName)
                        {
                            // eğer current user kendi sayfasına tıklarsa o entry i silme seçeneğini görebilir
                            <span class="text-center">
                                <a href="" title="yorumu taca at!!"><span class="fa fa-soccer-ball-o" onclick="javascript:if(!confirm('Yorumu silmek istediğinize emin misiniz ?'))return false; sil(@item.ID)" id="down_@item.ID"></span></a>
                            </span>
                                <span class="text-right">
                                    <a href="" id="@item.ID" onclick="upd(@item.ID)" title="@item.Title.Content" data-toggle="modal" data-target="#guncelle"><span class="fa fa-pencil"></span></a>
                                </span> //js yaz güncelleme için
                            //entryduzenlepartial a buradan bilgi gider
                            @Html.Partial("EntryDuzenlePartial", item)
                        }
                    }
                    <span style="float:right">
                        @{
                            var f = item.EntryDate;
                            string tarih = Convert.ToString(f);
                            if (item.isUpdated == true) //updated ise 1 olacağından update date leri ekrana alıyoruz
                            {
                                <a href="~/Users/Home/Entry/@item.ID"> @tarih ~ @item.EntryUpdateDate </a>
                            }
                            else
                            {
                                <a href="~/Users/Home/Entry/@item.ID"> @tarih -- </a>
                            }
                        }
                        @Html.ActionLink(item.User.UserName, "Kullanici", new { id = item.User.ID })
                    </span>
                </li>
                <hr />
            }
        </ul>

    </div>
</div>

